
:root {
  --input-height:48px;
}
.App{
  background-color:#F9F9F9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.form{
  width: 506px ;
  height: 599px;
  background-color: #FFFFFF;  
  
  border-radius: 20px;
 box-shadow: 10px 10px 10px 10px  #F6F6F6;
 padding: 0;
 

 
}
.avatar-box{
 height:265px ;
 display: flex;
 justify-content: center;
 align-items: center;
 }
.avatar-circle{
 
  height: 192px ;
  width: 192px ;
  border-radius: 50% ;
  margin-top: 38px;
  margin-bottom: 21px;
  background: #F1F2F6;
  border: 8px solid #DBDCE0;
  display: flex;
 justify-content: center;
 align-items: center;
}
.avatar-img{
  color:#898A8C ;
  display: flex;
  justify-content: center;
  align-items: center;
  transform:scale(6)
}
.inputs{
  padding: 0;
  height:242px;
  width: 428px;
  display: grid;
  grid-template-columns: 428px;  
  grid-template-rows: 48px 48px 48px 48px 48px ;
  grid-column-gap:12px;
  grid-row-gap: 19px;
  margin-left: 39px;
  margin-right: 39px;
  
}
input{
   
  height: var(--input-height);
  background-color: #F1F2F6;
  border: none;
  font-weight:600;
  font-size: 16px;
  color: #222222;

  letter-spacing: 0;
  border-radius: 10px;
  font-family: 'Public Sans', sans-serif;
  padding-left: 19px;
  box-sizing:border-box;
  
   
}
::placeholder{
  
  opacity:0.5;
}
input:focus{
   outline:none ;

}
.email{
 
width: 428px;
}

.row{
  display: grid;
  grid-template-columns: 208px 208px;
  grid-column-gap:19px;
  grid-row-gap: 19px;
}
.grid{
  display: grid;
  grid-column-gap:12px;
}
.third{
  display: grid;
  grid-template-columns: 318px 97px;
}
.fourth{
  display: grid;
  grid-template-columns: 166px 249px;
}
.btn{
 
width: 428px;
height: 44px;

border-radius: 15px;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
font: normal normal 600 16px/19px Public Sans;
letter-spacing: 0px;
color:white;
opacity: 1;
}
.btn:hover{
 cursor: pointer;
}
.btn-disabled{
  background: transparent linear-gradient(263deg, #B9B9B9 0%, #9F9F9F 100%) 0% 0% no-repeat padding-box;
}
.btn-enabled{
  background:#1DD1A1;
}
 
.errorBox{
  
  font: normal normal 600 16px/19px Public Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  padding:0;
  width: 506px;
  height: 72px;
  background: #FF0018;
  margin-top:0;

  margin-bottom: 84px ;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
}